@using DPath.Models.ViewModels
@using System.Linq;
@using DanTup.Web
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}
<ul class="breadcrumb">
    <li>
        @if (!Model.MemberOf)
        {
            <a href="/">All Paths</a> <span class="divider">/</span>
        }
        else
        {
            <a href="/paths/my-paths">My Paths</a> <span class="divider">/</span>
        }
    </li>
    <li>
        @Model.Path.Name
    </li>
</ul>
<div class="path-hero-unit">
    <h5>
        @if (Model.IsOwner)
        {
            <a id="path-delete" href="#" class="btn btn-danger"><i class="icon-trash"></i>Delete</a>
            <a href="/@Model.Path.Id/edit" class="btn"><i class="icon-pencil"></i>Edit</a>
        }
    </h5>
    <h1>
        @Model.Path.Name
    </h1>
    <h5>
        by @Model.Path.UserName
    </h5>
    <p>@Html.Markdown(Model.Path.Description as string)</p>
</div>
<form>
<input type="hidden" id="path-id" value="@Model.Path.Id" />
<div class="row">
    <div class="span4">
         <div class="path">
			<strong>
				<div  id="on-course-count-0" class="votes alert-success">
                    @Model.Path.TotalOnCourse
                </div> 
			</strong>
            <strong>
				<div  id="astray-count-0" class="votes alert-error">
                   @Model.Path.TotalAstray
                </div>
			</strong>
            <strong><a href="#" id="view-goal-0">All</a></strong>
            <br />
            @Model.Path.TotalUsersInPath user(s) in this goal
        </div>

            @foreach (GoalView m in Model.Path.Goals)
            {
                <div class="path">
					<strong>
						<div id="on-course-count-@m.Id" class="votes alert-success">
                            @m.Achievements.Count(x => x.Resolution == DPath.Models.Resolution.OnCourse.ToString())
                            @if (Model.IsLoggedIn)
	                        {
							    <a href="#" id="add-on-course-link-@m.Id"><i class="icon-plus-sign"></i></a>
	                        }
                        </div> 
					</strong>
                    <strong>
						<div id="astray-count-@m.Id" class="votes alert-error">
                            @m.Achievements.Count(x => x.Resolution == DPath.Models.Resolution.Astray.ToString())
                            @if (Model.IsLoggedIn)
	                        {
							    <a href="#" id="add-astray-link-@m.Id"><i class="icon-minus-sign"></i></a>
	                        }
                        </div>
					</strong>
                    <strong><a href="#" id="view-goal-@m.Id">@m.Name</a></strong>
                    <br />
                    @m.TotalUsersInGoal user(s) in this goal
                </div>
            }
    </div>
    <div class="span8" id="achievements-div">
    </div>
</div>
</form>
@section PageScript {
    <script type="text/javascript" src="/Content/js/libs/markdowndeep/MarkdownDeepLib.min.js"></script>
    <script src="/Content/js/libs/mustache.js"></script>
    <script type="text/javascript" src="/Content/js/specific/path.view.js"></script>
    <script type="text/javascript" src="/Content/js/specific/path.js"></script>
    <script type="text/javascript" src="/Content/js/libs/bootstrap/modal.js"></script>
    <script type="text/javascript" src="/Content/js/libs/bootstrap/tab.js"></script>




}
