@using DPath.Models.ViewModels


@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/Layout.cshtml";
}


<ul class="nav nav-tabs" id="tab-achievements">
	<li class="active">
		<a href="#recents-paths" data-toggle="tab">Recents Path</a>
	</li>
	<li>
		<a href="#recents-achievements" data-toggle="tab">Recents Achievements</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="recents-paths">
	@foreach (PathView m in Model.Paths)
	{
		
		<div class="row">
			<div class="span8">
				<pre class="goal"><a href="/@m.Id">@m.Name</a></pre>
				<blockquote>@m.Description</blockquote>
			</div>
			<div class="span4 pull-right">
				<div class="alert alert-error pull-right"> @m.TotalAstray</div>
				<div class="alert alert-success pull-right">@m.TotalOncourse</div>
			</div>
		</div>	
	}
	</div>
	<div class="tab-pane" id="recents-achievements">
		@foreach (PathView m in Model.RecentPaths)
		{
		
		<div class="row">
			<div class="span8">
				<pre class="goal"><a href="/@m.Id">@m.Name</a></pre>
				<blockquote>@m.Description</blockquote>
			</div>
			<div class="span4 pull-right">
				<div class="alert alert-error pull-right"> @m.TotalAstray</div>
				<div class="alert alert-success pull-right">@m.TotalOncourse</div>
			</div>
		</div>	
		}
	</div>
</div>



@section PageScript {
	<script type="text/javascript" src="/Content/js/libs/bootstrap/tab.js"></script>
}