@{
	var loginCssClass = @Model.IsLoggedIn ? "hide" : "show";
	var loggedViewCssClass = @Model.IsLoggedIn ? "show" : "hide";
}

<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width">

	@*<link rel="stylesheet/less" href="/Content/less/style.less">
	<script src="/Content/js/libs/less-1.3.0.min.js"></script>*@
	
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:
	-->

	@*<link rel="stylesheet/css" href="/Content/less/style.css" type="text/css" />*@
	<link href="@Url.Content("~/Content/less/style.css")" rel="stylesheet" />
	
	 

	<script type="text/javascript" src="/Content/js/libs/modernizr-2.5.3-respond-1.1.0.min.js"></script>

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">D. Path</a>
          <div class="nav-collapse">
            <ul class="nav">
			  <li class="@Model.HomeActive"><a href="/">Home</a></li>
			  @if (Model.IsLoggedIn) 
			  {
				<li class="@Model.NewPathActive"><a href="/paths/create">New Path</a></li>
				<li class="@Model.MyPathsActive"><a href="/paths/my-paths">My Paths</a></li> 
			  }
              <li class="@Model.AboutActive"><a href="/about">About</a></li>
            </ul>

			<div id="login" class="@loginCssClass pull-right loggedin">
				<ul class="nav secondary-nav">
					<li><a href="#login">Log In</a></li>
				</ul>
			</div>

			<div id="loggedinview" class="@loggedViewCssClass pull-right loggedin">
				<ul class="nav secondary-nav">
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="min-width:160px;"><img id="user-gravatar" alt="Gravatar"/> <span id="username"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/User/">Edit</a></li>
							<li><a id="logout" href="#logout">Logout</a></li>
						</ul>
					</li> 
				</ul>
				
			</div>
        </div>
          </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="container" class="container">
		@if (!Model.IsLoggedIn)
		{ 
		<div class="alert alert-info">
			Log in to view your paths and to follow any path of your interest.
		</div>
		}
		    

		@RenderBody()
     

      <hr>

      <footer>
        <p>&copy; La Calabaza @DateTime.Now.Year</p>
      </footer>

    </div> <!-- /container -->

	<script src="@Url.Content("https://browserid.org/include.js")" type="text/javascript"></script>
	<script src="@Url.Content("https://crypto-js.googlecode.com/files/2.2.0-crypto-md5.js")" type="text/javascript"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>		window.jQuery || document.write('<script src="/Content/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

	<script src="/Content/js/libs/bootstrap/transition.js"></script>
	<script src="/Content/js/libs/bootstrap/collapse.js"></script>
	<script src="/Content/js/libs/bootstrap/dropdown.js"></script>
	<script src="/Content/js/script.js"></script>
	<script>
		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
		(function (d, t) {
			var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
			g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s)
		} (document, 'script'));
	</script>

<script language="javascript" src="/Content/js/specific/layout.js"></script>
<script language="javascript">
	$(document).ready(function () {

		if ("@Model.IsLoggedIn" === "True") {
			setDisplayStyle("@Model.Email", "@Model.UserName");
		}

		$('#login').click(function () {
			navigator.id.getVerifiedEmail(gotVerifiedEmail);
		});

		$('#logout').click(function (e) {
			e.preventDefault();
			$.ajax({
				type: 'POST',
				url: '/auths/logout',
				data: null,
				success: function (res, status, xhr) {
					logout();
					window.location.href = res;
				}
			});
		});
	});


</script>

@RenderSection("PageScript", false)

</body>
</html>